{
  "root": true,
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "parser": "@babel/eslint-parser",
      "files": ["*.js", "*.mjs"],
      "extends": "@scaleway/react/index.js"
    },
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
      "extends": ["@scaleway/react/typescript.js"]
    }
  ]
}
