{
  "root": true,
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "./packages/eslint-config-react/index.js",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/__tests__/*", "rollup.config.mjs"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
      "extends": ["./packages/eslint-config-react/typescript.js"]
    }
  ]
}
