name: Generate changeset for Renovate

on:
  merge_group:
  pull_request_target:
    paths:
      - '.github/workflows/changesets-renovate.yml'
      - '**/pnpm-lock.yaml'
      - '**/package.json'

jobs:
  generate-changeset:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]' && github.repository == 'scaleway/scaleway-lib'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}
      - name: Git Identity
        run: |
          git config --global user.name 'Scaleway Bot'
          git config --global user.email 'github@scaleway.com'
      - uses: pnpm/action-setup@v4.1.0
      - name: Run changesets-renovate
        run: pnpm dlx @scaleway/changesets-renovate
