name: Generate changeset for Renovate

on:
  pull_request_target:
    # branches:
    #   - 'renovate/**'
    paths:
      - '.github/workflows/changesets-renovate.yml'
      - '**/pnpm-lock.yaml'
      - 'pnpm-workspace.yaml'
      - '**/package.json'

jobs:
  generate-changeset:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]' && github.repository == 'scaleway/scaleway-lib'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}
      - name: Git Identity
        run: |
          git config --global user.name 'Scaleway Bot'
          git config --global user.email 'github@scaleway.com'
      - uses: pnpm/action-setup@v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.13.0
          check-latest: true
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm install
      - name: Run changesets-renovate
        run: pnpm exec changesets-renovate
