name: Pull Request
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']
  merge_group:

jobs:
  check-title:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.1
      - uses: pnpm/action-setup@v4.0.0
      - name: Use Node.js
        uses: actions/setup-node@v4.0.4
        with:
          node-version: 20
          check-latest: true
          cache: 'pnpm'
      - run: pnpm install
      - name: Check PR title
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: echo "$TITLE" | pnpm commitlint
